.marketing-site-content-section
  .marketing-site-content-section-img
    img(src='/img/metal_band.jpg', alt='')
  .marketing-site-content-section-block
    h3.marketing-site-content-section-block-header Metal
    p.marketing-site-content-section-block-subheader.subheader
      | Find amps with searing gain for playing heavy metal.
    a.round.button.small(href='/rig/metal') Search Now
  .marketing-site-content-section-block.small-order-2.medium-order-1
    h3.marketing-site-content-section-block-header Rock
    p.marketing-site-content-section-block-subheader.subheader
      | Versatile amps capable of playing classic rock anthems to driving emotional ballads. 
    a.round.button.small(href='/rig/rock') Search Now
  .marketing-site-content-section-img.small-order-1.medium-order-2
    img(src='/img/rock_band.jpg', alt='')
.marketing-site-content-section
  .marketing-site-content-section-img
    img(src='/img/jazz_band.jpg', alt='')
  .marketing-site-content-section-block
    h3.marketing-site-content-section-block-header Jazz
    p.marketing-site-content-section-block-subheader.subheader
      | Crystal clear clean sounds for the more refined and elegant taste in guitar playing.
    a.round.button.small(href='/rig/jazz') Search Now
  .marketing-site-content-section-block.small-order-2.medium-order-1
    h3.marketing-site-content-section-block-header Country
    p.marketing-site-content-section-block-subheader.subheader
      | That gritty twangy tone that defines the modern country sound.
    a.round.button.small(href='/rig/country') Search Now
  .marketing-site-content-section-img.small-order-1.medium-order-2
    img(src='/img/country_band.jpg', alt='')
.marketing-site-content-section
  .marketing-site-content-section-img
    img(src='/img/pop_band.jpg', alt='')
  .marketing-site-content-section-block
    h3.marketing-site-content-section-block-header Pop
    p.marketing-site-content-section-block-subheader.subheader
      | The clean and distorted sounds that fit your favorite pop tunes.
    a.round.button.small(href='/rig/pop') Search Now
  .marketing-site-content-section-block.small-order-2.medium-order-1
    h3.marketing-site-content-section-block-header Blues
    p.marketing-site-content-section-block-subheader.subheader
      | Amps that give that raw soulful sound that have defined the blues for ages.
    a.round.button.small(href='/rig/blues') Search Now
  .marketing-site-content-section-img.small-order-1.medium-order-2
    img(src='/img/blues_band.jpg', alt='')