.top-bar.foundation-5-top-bar
  .top-bar-title
    span(data-responsive-toggle='responsive-menu', data-hide-for='medium')
      button.menu-icon(type='button', data-toggle='')
    strong AmpBuddy
  #responsive-menu
    .top-bar-right
      ul.menu
        li
          a(href="/") Home