#navbar .foundation-5-top-bar {
  background: #333;
  color: #fefefe;
}
#navbar .foundation-5-top-bar .menu {
  background: #333;
}
#navbar .foundation-5-top-bar .menu a {
  color: #fefefe;
}
#navbar .foundation-5-top-bar .is-dropdown-submenu {
  border: 0;
}
#navbar .foundation-5-top-bar .is-dropdown-submenu-item.opens-right a::after {
  border-color: transparent transparent transparent #fefefe;
}
#navbar .foundation-5-top-bar .js-drilldown-back > a::before {
  border-color: transparent #fefefe transparent transparent;
}
#navbar .foundation-5-top-bar .is-drilldown-submenu-parent > a::after {
  border-color: transparent transparent transparent #fefefe;
}
#navbar .foundation-5-top-bar .dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
  border-color: #fefefe transparent transparent;
}
#hero .amp-site-hero {
  background: url("/img/marshall_bg.jpg") top right no-repeat;
  height: 65vh;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (min-width: 40em) {
  #hero .amp-site-hero {
    background-position: center center;
  }
}
#hero .amp-site-hero-content {
  max-width: 40rem;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
}
#hero .amp-site-hero-content h1 {
  font-size: 32px;
  color: #fff;
  font-weight: bold;
}
#hero .amp-site-hero-content p {
  color: #fff;
}
#hero .amp-site-hero-content .button.round {
  border-radius: 5000px;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0;
}
@media screen and (min-width: 40em) {
  #hero .amp-site-hero-content {
    padding-left: 10%;
  }
}
#menu .menu-site-content-section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#menu .menu-site-content-section .button.round {
  border-radius: 5000px;
  text-transform: uppercase;
  margin-bottom: 0;
}
#menu .menu-site-content-section .menu-site-content-section-img {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
}
#menu .menu-site-content-section .menu-site-content-section-img img {
  width: 100%;
}
@media screen and (min-width: 40em) {
  #menu .menu-site-content-section .menu-site-content-section-img {
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
  }
}
#menu .menu-site-content-section .menu-site-content-section-block {
  padding: 1rem;
  -webkit-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  background: #e6e6e6;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
@media screen and (min-width: 40em) {
  #menu .menu-site-content-section .menu-site-content-section-block {
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    padding: 2rem;
  }
}
#menu .menu-site-content-section-block-header {
  font-size: 24px;
}
#menu .menu-site-content-section-block-subheader {
  font-size: 13px;
}
#error .error-site-hero {
  background: url("/img/shipwreck.jpg") top right no-repeat;
  height: 65vh;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (min-width: 40em) {
  #error .error-site-hero {
    background-position: center center;
  }
}
#error .error-site-hero-content {
  max-width: 30rem;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
}
#error .error-site-hero-content h1 {
  font-size: 32px;
  color: #000;
  font-weight: bold;
}
#error .error-site-hero-content p {
  color: #000;
}
@media screen and (min-width: 40em) {
  #error .error-site-hero-content {
    padding-left: 0%;
  }
}
.amp-card {
  background-color: #fefefe;
  border: 1px solid #e6e6e6;
  padding: 1rem;
  margin-bottom: 1.5rem;
}
.amp-card-thumbnail {
  display: block;
  position: relative;
}
.amp-card-title {
  font-family: 'Open sans', sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.45rem;
  margin-top: 1rem;
  margin-bottom: 0;
}
.amp-card-desc {
  color: #8a8a8a;
  display: block;
  font-family: 'Open sans', sans-serif;
  font-size: 0.85rem;
}
